/* 周排班表，日排班表日期的显示 */
.time-show-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-time-show {
  min-width: 36px;
  height: 36px;
  background-color: RGB(64, 158, 255);
  color: #fff;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 10px;
}
.time-show-btn-wrap > div {
  margin: 10px;
}
.time-show-date {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
