.el-menu-item {
    max-height: 48px !important;
    padding: 0 !important;
  }
  /* 设置菜单展示的字体大小 */
  .item {
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial!important;
    word-break: break-word;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
  }
  
  /* 设置当前点击菜单 */
  .el-menu-item.is-active,.el-menu-item:hover {
    background: RGB(30,128,255) !important;
    color: RGB(255,255,255) !important;
    border-radius: 15px !important;
  }
  
  .title div {
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
  }
  